:root {
  --card-height: 65vw;
  --card-width: 65vw;
}
.home {
  background-color: #201e2f;
  padding: 0px 50px;
  max-width: 100vw;
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hello {
  background-color: #201e2f;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.hello-info {
  color: white;
}
.hello-info span {
  color: #E40037;
}

.photo {
  /* background-color: tomato; */
  width: 50%;
  height: 100vh;
}

:root {
  --card-height: 40vw;
  --card-width: 40vw;
}

.circle {
  background: #201e2f;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.circle::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: linear-gradient(
    var(--rotate)
    , #201e2f, #E40037 43%, #9B00E4);
    position: absolute;
    animation: spin 2.5s linear infinite;
}

.circle::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #201e2f, #E40037 43%, #9B00E4);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.circle2 {
  background: #201e2f;
  width: 35vw;
  height: 35vw;
  position: absolute;
  z-index: 2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle2 h1 {
  color: #E40037;
  font-size: 50px;
}
